@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Somphanas</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
          วัดป่าโสมพนัส
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @*<li><a asp-area="" asp-controller="Home" asp-action="Index">หน้าแรก</a></li>*@
          <li><a asp-area="" asp-controller="Home" asp-action="Courses">คอร์สปฏิบัติธรรม</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Terms">ระเบียบการ</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Register">ลงทะเบียนสมัครเข้าคอร์ส</a></li>
        </ul>
        @*<partial name="_LoginPartial" />*@

        @if (SignInManager.IsSignedIn(User))
        {
          <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">สวัสดี @UserManager.GetUserName(User)!</a>
              </li>
              <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">ออกจากระบบ</button>
              </li>
            </ul>
          </form>
        }
        else
        {
          <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="Identity" asp-page="/Account/Register">สมัครสมาชิก</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Login">เข้าสู่ระบบ</a></li>
          </ul>
        }


      </div>
    </div>
  </nav>

  @*<partial name="_CookieConsentPartial" />*@

  <div class="container body-content">
    @RenderBody()
  </div>

  <div style="margin-top: 20px; margin-bottom: 0px; padding: 20px; background: whitesmoke; color: dimgray !important;">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div>ข้อมูลวัดและประธานสงฆ์</div>
          <div>แนวปฏิบัติ</div>
          <div>สื่อธรรม</div>

        </div>
        <div class="col-sm-3">
          <div><a asp-area="" asp-controller="Home" asp-action="About">ข้อมูลวัด</a></div>
          <div><a href="http://www.watsomphanas.com/">เว็บเดิม</a></div>
          <div><a href="https://github.com/watsomphanas/web">GitHub</a></div>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
      </div>

      <footer class="text-center" style="font-size: 80%; margin-top: 3.5em;">
        <div class="text-info"><strong>ศูนย์ปฏิบัติธรรมเจริญสติแบบเคลื่อนไหว วัดป่าโสมพนัส </strong></div>
        <div class="text-muted">บ้านภูเพ็ก หมู่ 12 ต.นาหัวบ่อ อ.พรรณานิคม จ.สกลนคร 47220</div>
        <div class="text-muted">โทรศัพท์ 042-704658</div>
      </footer>
    </div>

  </div>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
